@page
@using GadevangGruppe3Razor.Models
@model GadevangGruppe3Razor.Pages.TilmeldBegivenhedFolder.CreateModel
@{
    ViewData["Title"] = "Opret Tilmelding Til Begivenhed";
}

<h3>Opret Tilmelding Til Begivenhed</h3>

<a asp-page="/BegivenhedFolder/ShowAllBegivenhed" class="btn btn primary" style="color: white; background-color: gray; border-color: gray;">Tilbage til oversigt</a>

<div class="container"
     style="display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;">

    <div class="bruger">

    </div >

    <div class="begivenhed">
    
    </div>
</div>



<form method="post">
    <div class="form-group">
        <label asp-for="@Model.CurrentBruger.BrugerId" class="control-label"></label>
        <input asp-for="@Model.CurrentBruger.BrugerId" style="display: br; width: 30%;" readonly class="form-control" />
        <span asp-validation-for="@Model.CurrentBruger.BrugerId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.EventId" class="control-label"></label>
        <input asp-for="@Model.EventId" style="display: br; width: 30%;" readonly class="form-control" />
        <span asp-validation-for="@Model.EventId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Kommentar" class="control-label"></label>
        <input asp-for="@Model.Kommentar" style="display: br; width: 30%;" class="form-control" />
        <span asp-validation-for="@Model.Kommentar" class="text-danger"></span>
    </div>
    <br />
    <div class="formgroup">
        <input type="submit" value="Opret" class="btn btn-primary" style="background-color: green; border-color: green;" />
    </div>
</form>

@* <form method="post">
    <div class="form-group">
        <label asp-for="@Model.TilmeldB.BrugerId" class="control-label"></label>
        <input asp-for="@Model.TilmeldB.BrugerId" style="display: br; width: 30%;" class="form-control" />
        <span asp-validation-for="@Model.TilmeldB.BrugerId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.TilmeldB.EventId" class="control-label"></label>
        <input asp-for="@Model.TilmeldB.EventId" style="display: br; width: 30%;" class="form-control" />
        <span asp-validation-for="@Model.TilmeldB.EventId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.TilmeldB.Kommentar" class="control-label"></label>
        <input asp-for="@Model.TilmeldB.Kommentar" style="display: br; width: 30%;" class="form-control" />
        <span asp-validation-for="@Model.TilmeldB.Kommentar" class="text-danger"></span>
    </div>
    <div class="formgroup">
        <input type="submit" value="Opret" class="btn btn-primary" style="background-color: green; border-color: green;" />
    </div>
</form> *@