@page
@model GadevangGruppe3Razor.Pages.BookingFolder.CreateBookingModel
@{
}

<form method="post">
    <br />
    <div style="background-color:lightgray">
        <h3><br />Bruger: @Model.Bruger1.BrugerId , @Model.Bruger1.Brugernavn<br /></h3>
    </div>
    <br />

    <div>
        <label asp-for="@Model.Booking.BookingId" class"Control-label"></label>
        <input asp-for="@Model.Booking.BookingId" class="form-control" />
        <span asp-validation-for="Booking.BookingId" class="text-danger"></span>
    </div>
    <br />
    <div>
        <label asp-for="@Model.Booking.BaneId" class"Control-label"></label>
        <input asp-for="@Model.Booking.BaneId" readonly class="form-control" />
        <span asp-validation-for="Booking.BaneId" class="text-danger"></span>
    </div>
    <br />
    <div>
        <label asp-for="@Model.Booking.Dato" class"Control-label"></label>
        <input type="date" asp-for="@Model.Booking.Dato" class="form-control">
        <span asp-validation-for="Booking.Dato" class="text-danger"></span>
    </div>
    <br />
    <div>
        @*  Select list  Tid *@
        <label>Tidspunkt: </label>
        <select id="StartTid" name="StartTid" class="form-control" asp-for="@Model.StartTid" asp-items="@Model.TidSelectList">
        </select>
    </div>
    <br />
    @*     <div>
        <label asp-for="@Model.Booking.StartTid" class"Control-label"></label>
        <input asp-for="@Model.Booking.StartTid" class="form-control" />
        <span asp-validation-for="Booking.StartTid" class="text-danger"></span>
    </div> *@
    <div>
        @*  Select list  B2 *@
        <label> Vælg din partner:</label>
    <select id="Bruger2ID" name="Bruger2ID" class="form-control" asp-for="@Model.Bruger2ID" asp-items="@Model.BrugerSelectList">
        </select>
    </div>
    <br />
    @*     <div>
        <label asp-for="@Model.Bruger2ID" class"Control-label"></label>
        <input asp-for="@Model.Bruger2ID" class="form-control" />
        <span asp-validation-for="Booking.Bruger2" class="text-danger"></span>
    </div> *@
    <div>
        <label asp-for="@Model.Booking.Beskrivelse" class"Control-label"></label>
        <input asp-for="@Model.Booking.Beskrivelse" class="form-control" />
        <span asp-validation-for="Booking.Beskrivelse" class="text-danger"></span>
    </div>
    <br />
    <span class="text-danger">@Model.ErrorAntalBookinger</span>
    <br />
    <div class="formgroup">
        <input type="submit" value="Opret " class="btn btn-primary" style="background-color:green; border-color: green;" />
    </div>
</form>
