@page
@using GadevangGruppe3Razor.Models
@inject GadevangGruppe3Razor.Interfaces.IBrugerService brugerService;
@inject GadevangGruppe3Razor.Interfaces.IBegivenhedService begivenhedService;
@model GadevangGruppe3Razor.Pages.BookingFolder.ShowAllBookingerModel
@{
}

<h4> BookingOversigt: @Model.ValgtDato</h4>
<span class="text-danger">@Model.UnverifiedWarning</span>


<span style="text-size-adjust:15 px" class="text-danger">@Model.GæsteSpil</span>
<br />

<table style="width:100%;align-content:center" class="table table-bordered">
    <thead style="text-align: center; background-color: #7AC5F4; border-bottom: solid 2px; border-color: black;">
        <tr>
            <th>Tid</th>
            @foreach (var bane in Model.Baner)
            {
                <th>Bane @bane.BaneId</th>
            }
        </tr>
    </thead>
    <tbody style="text-align: center; margin: 3px;border:solid black 1px">
        @* For hver mulig tid, skal der laves en thred/række, hvor stiden står i første kolonne
           Herefter loopes gennem alle banerne i kolonen. Her er en bool, der checker om der er nogen 
           bokninger, som har den samme dato, bane id og startid.
        *@
        @foreach (var tid in Model.Tider)
        {
            <tr>
                <td style="background-color:#E2EDF9;">@tid.Value</td>
                @foreach (var bane in Model.Baner)
                {
                    bool erBooket = Model.Bookinger.Any(booking =>
                    booking.Dato == Model.ValgtDato &&
                    booking.BaneId == bane.BaneId &&
                    booking.StartTid == tid.Key);

                    @if(erBooket==true)
                    {
                        var booking = Model.Bookinger.Find(booking => booking.Dato == Model.ValgtDato &&
                        booking.BaneId == bane.BaneId &&
                        booking.StartTid == tid.Key);
                        @if ((Model.CurrentBruger.MedlemskabsTypen == MedlemskabsType.Passivt_Medlemskab || Model.CurrentBruger.Verificeret == false) || Model.Email == null)
                        {
                            <td style="background-color: #C7DDF4;">
                                <a class="btn btn-primary" style="background-color:#fa4f4f;border-color:#fa4f4f">
                                    <svg style="color:darkred" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                    </svg>
                                    <em>Optaget</em>
                                </a>
                            </td>
                        }

                        else
                        {
                            <td style="background-color: #C7DDF4;">
                                <a class="btn btn-primary" style="background-color:#fa4f4f;border-color:#fa4f4f">
                                <svg style="color:darkred" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                </svg>
                                <br /><em style="text-size-adjust:15px ">@brugerService.GetBrugerByIdAsync(booking.Bruger1).Result.Brugernavn <br /> @brugerService.GetBrugerByIdAsync(booking.Bruger2).Result.Brugernavn</em>
                            </a>
                        </td>
                        }
                    }
                    else
                    {
@*                         <td style="background-color:#a7f981  ">
                            Ledig
                        </td> *@
                        @if (Model.CurrentBruger.MedlemskabsTypen == MedlemskabsType.Passivt_Medlemskab || Model.CurrentBruger.Verificeret == false)
                        {
                            <td style="background-color: #C7DDF4;">
                                <a class="btn btn-primary" style="background-color:#a7f981;border-color:#a7f981">
                                    <svg style="color:green" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                    </svg>
                                </a>
                            </td>
                        }
                        else
                        {
                            <td style="background-color: #C7DDF4;">
                                <a class="btn btn-primary" style="background-color:#a7f981;border-color:#a7f981"
                                    asp-page="/BookingFolder/CreateBookingFromShowAll"
                                    asp-route-startTid="@tid.Key"
                                    asp-route-baneId="@bane.BaneId"
                                    asp-route-Dato="@Model.ValgtDato">
   
                                    <svg style="color:green" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                </svg>
                                </a>
                            </td>
                        }
                    }
                }
            </tr>
        }
    </tbody>
</table>

@* 
<table style="width:100%;align-content:center">
    <thead style="text-align: center; background-color: #7AC5F4; border-bottom: solid 2px; border-color: black;">
        <tr style="border-bottom: 2px solid black;">
            <th>Tid</th>
            @foreach (Bane bane in Model.Baner)
            {
                <th>Bane @bane.BaneId </th>
            }
        </tr>
    </thead>
    <tbody style="text-align: center; margin: 3px;border:solid black 1px">
        @for( int i=0; i <Model.Tider.Count;i++)
        {
            var tid = Model.Tider.ElementAt(i).Value;
            <tr>
                <td>@tid</td>
            </tr>

            @foreach (Booking booking in Model.Bookinger)
            {
                if (Model.Tider.TryGetValue(booking.StartTid, out tid))
                {
                    <td>@booking.Bruger1.</td>
                }
                else
                {
                    <td>Ledig</td>
                }
            }
        }
    </tbody>
</table> *@