@page
@using GadevangGruppe3Razor.Models;
@model GadevangGruppe3Razor.Pages.HoldFolder.ShowAllHoldModel
@{
	ViewData["Title"] = "Show All Hold";
}

<h4>Antal hold: @Model.HoldListe.Count</h4>

@if (Model.CurrentBruger.Positionen == Position.Admin)
{
	<a asp-page="Create" class="btn btn primary" style="color: white; background-color: green;">Opret hold</a>
}
<br/>

<table style="width:85" class="table">
	<thead style="text-align: center; background-color: #7AC5F4; border-bottom: solid 2px; border-color: black;">
		<tr>
			@if (Model.CurrentBruger.Positionen == Position.Admin)
			{
				<th>HoldId</th>
			}
			<th>Holdnavn</th>
			<th>Instruktørnavn</th>
			<th>Start Dato</th>
			<th>Slut Dato</th>
			<th>Tid</th>
			<th>Sted</th>
			<th>Pris</th>
			<th>Max Medlemstal</th>
			<th>Handlinger</th>
		</tr>
	</thead>
	<tbody style="text-align: center; margin: 3px;">
		@if (Model.HoldListe.Count() != 0)
		{
			@foreach (Hold items in Model.HoldListe)
			{
				<tr style="border-bottom: solid 1px; border-color: gray;">
					@if (Model.CurrentBruger.Positionen == Position.Admin)
					{
						<td style="background-color: #E2EDF9;">@items.HoldId</td>
					}
					<td style="background-color: #C7DDF4;">@items.Holdnavn</td>
					<td style="background-color: #E2EDF9;">@items.Instruktørnavn</td>
					<td style="background-color: #C7DDF4;">@items.StartDato</td>
					<td style="background-color: #E2EDF9;">@items.SlutDato</td>
					<td style="background-color: #C7DDF4;">@items.Tid</td>
					<td style="background-color: #E2EDF9;">@items.Sted</td>
					<td style="background-color: #C7DDF4;">@items.Pris</td>
					<td style="background-color: #E2EDF9;">@items.MaxMedlemstal</td>
					<td style="background-color: #E2EDF9;">
						@if (Model.CurrentBruger.Positionen == Position.Admin)
						{
							@if (!Model.Hold.TilmeldteBrugere.Contains(Model.CurrentBruger))
							{
								<a asp-page="Tilmeld" asp-route-holdId="@items.HoldId" class="btn btn primary" style="color: white; background-color: green; border-color: green;">
									Tilmeld
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
										<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
										<path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
									</svg>
								</a>
							}
							else
							{
								<a asp-page="Afmeld" asp-route-holdId="@items.HoldId" class="btn btn primary" style="color: white; background-color: #C94646; border-color: #C94646;">
									Afmeld
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-dash" viewBox="0 0 16 16">
										<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1m0-7a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
										<path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
									</svg>
								</a>
							}
							<a asp-page="Delete" asp-route-holdId="@items.HoldId" class="btn btn primary" style="color: white; background-color: #C94646; border-color: #C94646;">
								Slet
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
									<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
									<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
								</svg>
							</a>
						}
						else
						{
							@if (!Model.Hold.TilmeldteBrugere.Contains(Model.CurrentBruger))
							{
								<a asp-page="Tilmeld" asp-route-holdId="@items.HoldId" class="btn btn primary" style="color: white; background-color: green; border-color: green;">
									Tilmeld
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
										<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
										<path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
									</svg>
								</a>
							}
						}
					</td>
				</tr>
			}
		}
	</tbody>
</table>