@page
@using GadevangGruppe3Razor.Models;
@model GadevangGruppe3Razor.Pages.BrugerFolder.BrugerUpdateModel
@{
	ViewData["Title"] = "Bruger Update";
}

<h3>Bruger @Model.CurrentBruger.Brugernavn opdatering af personlige informationer</h3>

<form method="post">
	<br />
	<div class="form-group">
		<label asp-for="@Model.CurrentBruger.BrugerId" class="control-label"></label>
		<input asp-for="@Model.CurrentBruger.BrugerId" readonly class="form-control" />
		<span asp-validation-for="@Model.CurrentBruger.BrugerId" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.CurrentBruger.Brugernavn" class="control-label"></label>
		<input asp-for="@Model.CurrentBruger.Brugernavn" class="form-control" />
		<span asp-validation-for="@Model.CurrentBruger.Brugernavn" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.CurrentBruger.Adgangskode" class="control-label"></label>
		<input type="password" asp-for="@Model.CurrentBruger.Adgangskode" class="form-control" />
		<span asp-validation-for="@Model.CurrentBruger.Adgangskode" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.CurrentBruger.Email" class="control-label"></label>
		<input asp-for="@Model.CurrentBruger.Email" class="form-control" />
		<span asp-validation-for="@Model.CurrentBruger.Email" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.CurrentBruger.Telefon" class="control-label"></label>
		<input asp-for="@Model.CurrentBruger.Telefon" class="form-control" />
		<span asp-validation-for="@Model.CurrentBruger.Telefon" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label class="control-label">Køn</label>
		<select asp-for="@Model.SelectKøn" asp-items="Html.GetEnumSelectList<Køn>()" class="form-control">
			<option value="Select">Vælg et køn</option>
		</select>
		<span asp-validation-for="@Model.CurrentBruger.Kønnet" class="text-danger"></span>
	</div>
	<div class="form-group">
		<input asp-for="@Model.BilledUrl" hidden="true" class="form-control" />
	</div>
	<br />
	<span class="text-danger">@Model.MessageEmptyPassword</span>
	<span class="text-danger">@Model.MessageError</span>
	<div class="form-group">
		<input type="submit" value="Opdater" class="btn btn-primary" style="background-color: green; border-color: green;" />
	</div>
</form>
