@page
@using GadevangGruppe3Razor.Models;
@model GadevangGruppe3Razor.Pages.BrugerFolder.CreateModel
@{
	ViewData["Title"] = "Create";
}

<form method="post" enctype="multipart/form-data">
	<div class="form-group">
		<label asp-for="@Model.Bruger.BrugerId" class="control-label"></label>
		<input asp-for="@Model.Bruger.BrugerId" style="display: br; width: 20%;" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="@Model.Bruger.Brugernavn" class="control-label"></label>
		<input asp-for="@Model.Bruger.Brugernavn" style="display: br; width: 20%;" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="@Model.Bruger.Adgangskode" class="control-label"></label>
		<input type="password" asp-for="@Model.Bruger.Adgangskode" style="display: br; width: 20%;" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="@Model.Bruger.Fødselsdato" class="control-label"></label>
		<input asp-for="@Model.Bruger.Fødselsdato" style="display: br; width: 20%;" class="form-control" />
	</div>
	<div class="form-group">
		<label class="control-label">Køn</label>
		<select asp-for="@Model.SelectKøn" asp-items="Html.GetEnumSelectList<Køn>()" class="form-control">
			<option value="Select">Vælg et køn</option>
		</select>
	</div>
	<div class="form-group">
		<label asp-for="@Model.Bruger.Email" class="control-label"></label>
		<input asp-for="@Model.Bruger.Email" style="display: br; width: 20%;" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="@Model.Bruger.Telefon" class="control-label"></label>
		<input asp-for="@Model.Bruger.Telefon" style="display: br; width: 20%;" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="@Model.Billed" class="control-label">Tilføj Billed</label>
		<div class="custom-file">
			<input asp-for="@Model.Billed" class="control-label" />
			<label class="custom-file-label"></label>
		</div>
	</div>
	<span class="text-danger">@Model.MessageError</span>
	<span class="text-danger">@Model.MessageErrorInvalidAlder</span>
	<div class="formgroup">
		<input type="submit" value="Confirm" class="btn btn-primary" style="background-color: green; border-color: green;" />
	</div>
</form>
