@page
@model GadevangGruppe3Razor.Pages.BrugerFolder.CreateModel
@{
	ViewData["Title"] = "Create";
}

<form method="post" enctype="multipart/form-data">
	<div class="form-group">
		<label asp-for="@Model.Bruger.BrugerId" class="control-label"></label>
		<input asp-for="@Model.Bruger.BrugerId" style="display: br; width: 20%;" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="@Model.Bruger.Brugernavn" class="control-label"></label>
		<input asp-for="@Model.Bruger.Brugernavn" style="display: br; width: 20%;" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="@Model.Bruger.Adgangskode" class="control-label"></label>
		<input asp-for="@Model.Bruger.Adgangskode" style="display: br; width: 20%;" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="@Model.Bruger.Email" class="control-label"></label>
		<input asp-for="@Model.Bruger.Email" style="display: br; width: 20%;" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="@Model.Bruger.Telefon" class="control-label"></label>
		<input asp-for="@Model.Bruger.Telefon" style="display: br; width: 20%;" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="@Model.Billed" class="control-label">Tilføj Billed</label>
		<div class="custom-file">
			<input asp-for="@Model.Billed" class="control-label" />
			<label class="custom-file-label"></label>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="@Model.Bruger.Medlemskab" class="control-label"></label>
		<input asp-for="@Model.Bruger.Medlemskab" style="display: br; width: 20%;" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="@Model.Bruger.Positionen" class="control-label"></label>
		<input asp-for="@Model.Bruger.Positionen" style="display: br; width: 20%;" class="form-control" />
	</div>
	<div class="formgroup">
		<input type="submit" value="Confirm" class="btn btn-primary" style="background-color: green; border-color: green;" />
	</div>
</form>
