@page
@using GadevangGruppe3Razor.Models
@model GadevangGruppe3Razor.Pages.BrugerFolder.LoginModel
@{
    ViewData["Title"] = "Login";
}

<a asp-page="Create" class="btn btn primary" style="color: white; background-color: gray; border-color: gray;">Opret Profil</a>

<form method="post">
    <span class="text-danger">@Model.MessageError</span>
    <div class="form-group">
        <label asp-for="@Model.Email" class="control-label"></label>
        <input asp-for="@Model.Email" style="display: br; width: 20%;" class="form-control" />
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Adgangskode" class="control-label"></label>
        <input asp-for="@Model.Adgangskode" style="display: br; width: 20%;" class="form-control" />
        <span asp-validation-for="@Model.Adgangskode" class="text-danger"></span>
    </div>
    <div class="formgroup">
        <input type="submit" value="Login" class="btn btn-primary" style="background-color: green; border-color: green;" />
    </div>
</form>