@page
@using GadevangGruppe3Razor.Models;
@model GadevangGruppe3Razor.Pages.BrugerFolder.ProfileModel
@{
	ViewData["Title"] = "Show Profile";
}

<h3>Velkommen til din profilside</h3>
<br />
<br />
<h5>Brugernavn: @Model.ProfileBruger.Brugernavn</h5>
<br />
<h5> @Model.Email</h5>
<br />
<h5>Telefon: @Model.ProfileBruger.Telefon</h5>
<br />
<h5>Bruger Medlemskabtype: @Model.ProfileBruger.Medlemskab</h5>
<br />
<h5>Position som Medlem: @Model.ProfileBruger.Positionen</h5>
<br />
<h5>Bruger Verificering: @(Model.ProfileBruger.Verificeret ? "Verificeret" : "Ikke Verificeret")</h5>