@page
@using GadevangGruppe3Razor.Models;
@inject GadevangGruppe3Razor.Interfaces.IBrugerService brugerService;
@inject GadevangGruppe3Razor.Interfaces.IBegivenhedService begivenhedService;
@model GadevangGruppe3Razor.Pages.BrugerFolder.ProfileModel
@{
	ViewData["Title"] = "Show Profile";
}

<a asp-page="/BrugerFolder/Login" asp-page-handler="Logud" class="btn btn-primary" style="position: absolute; top: 10px; right: 10px; background-color: #BD3030; border-color: #BD3030;">Logout</a>

<h3 style="text-align: center;">Velkommen til din profilside @Model.CurrentBruger.Brugernavn</h3>
<br />

<div class="container"
    style="display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 15px;">
    
    <div class="info" style="">
        <!-- #region Profil Info -->
        @if (Model.CurrentBruger.BilledUrl != null)
        {
            <img src="~/images/@Model.CurrentBruger.BilledUrl" width="200px" height="200px" />
        }
        <br />
        <br />
        <p>Brugernavn: @Model.CurrentBruger.Brugernavn</p>
        <p>Fødselsdato: @Model.CurrentBruger.Fødselsdato</p>
        <p>Køn: @Model.CurrentBruger.Kønnet</p>
        <p>Email: @Model.CurrentBruger.Email</p>
        <p>Telefon: @Model.CurrentBruger.Telefon</p>
        <p>Medlemskabs Type: @Model.CurrentBruger.MedlemskabsTypen</p>
        <p>Position: @Model.CurrentBruger.Positionen</p>
        <p>Verificering: @(Model.CurrentBruger.Verificeret ? "Verificeret" : "Ikke Verificeret")</p>
        <br />
        <p>
            <a asp-page="BrugerUpdate" asp-route-brugerId="@Model.CurrentBruger.BrugerId" class="btn btn primary" style="color: white; background-color: gray; border-color: gray;">
                Opdater Bruger
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
            </a>
        </p>
        <!-- #endregion -->
    </div>

    <div class="tables" style="">
        <!-- #region Booking Tabeller -->
        <h4>Dine Bookinger</h4>
        <table>
            <thead style="text-align: center; background-color: #7AC5F4; border-bottom: solid 2px; border-color: black;">
                <tr>
                    <th>Oprettet af</th>
                    <th>Bane</th>
                    <th>Dato</th>
                    <th>Tid</th>
                    <th>Partner</th>
                    <th>Handlinger</th>
                    <th></th>
                </tr>
            </thead>
            <tbody style="text-align: center; margin: 3px;">
                @if (Model.BookingList.Count() != 0)
                {
                    @foreach (Booking item in Model.BookingList)
                    {
                        <tr style="border-bottom: solid 1px; border-color: gray;">
                            <td style="background-color: #E2EDF9;">@brugerService.GetBrugerByIdAsync(item.Bruger1).Result.Brugernavn</td>
                            <td style="background-color: #C7DDF4;">@item.BaneId</td>
                            <td style="background-color: #E2EDF9;">@item.Dato</td>
                            <td style="background-color: #C7DDF4;">@item.StartTid</td>
                            <td style="background-color: #E2EDF9;">@brugerService.GetBrugerByIdAsync(@item.Bruger2).Result.Brugernavn</td>
                            @if (item.Bruger2 != Model.CurrentBruger.BrugerId)
                            {
                                <td style="background-color: #E2EDF9;">

                                    <a asp-page="/BookingFolder/DeleteBooking" asp-route-bookingId="@item.BookingId" class="btn btn primary" style="color: white; background-color: #C94646; border-color: #C94646;">
                                        Slet
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td style="background-color: #E2EDF9;">

                                    <a class="btn btn primary" style="color: white; background-color:gray; border-color:gray;">
                                        Slet
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                    </a>
                                </td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
        <!-- #endregion -->
        <br />
        <!-- #region Tilmeld Tabeller -->
        <h4>Dine Tilmeldinger</h4>
        <table>
            <thead style="text-align: center; background-color: #7AC5F4; border-bottom: solid 2px; border-color: black;">
                <tr>
                    <th>Brugernavn</th>
                    <th>Begivenhed</th>
                    <th>Kommentar</th>
                    <th>Handlinger</th>
                    <th></th>
                </tr>
            </thead>
            <tbody style="text-align: center; margin: 3px;">
                <span class="text-danger">@Model.ConfirmRemoved</span>
                @if (Model.TilmeldBList.Count() != 0)
                {
                    @foreach (TilmeldBegivenhed item in Model.TilmeldBList)
                    {
                        <tr style="border-bottom: solid 1px; border-color: gray;">
                            <td style="background-color: #E2EDF9;">@brugerService.GetBrugerByIdAsync(@item.BrugerId).Result.Brugernavn</td>
                            <td style="background-color: #C7DDF4;">@begivenhedService.GetBegivenhedByIdAsync(@item.EventId).Result.Titel</td>
                            <td style="background-color: #E2EDF9;">@item.Kommentar</td>
                            <td style="background-color: #E2EDF9;">
                                <a asp-page="/TilmeldBegivenhedFolder/Update" asp-route-brugerId="@item.BrugerId" asp-route-eventId="@item.EventId" class="btn btn primary" style="color: white; background-color: gray; border-color: gray;">
                                    Opdater
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                </a>
                            </td>
                            <td style="background-color: #E2EDF9;">
                                <a asp-page="/TilmeldBegivenhedFolder/Delete" asp-route-brugerId="@item.BrugerId" asp-route-eventId="@item.EventId" class="btn btn primary" style="color: white; background-color: #C94646; border-color: #C94646;">
                                    Frameld
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <!-- #endregion -->
    </div>
</div>
