@page
@using GadevangGruppe3Razor.Models;
@model GadevangGruppe3Razor.Pages.BrugerFolder.ShowAllBrugerModel
@{
	ViewData["Title"] = "ShowAllBruger";
}

<h4>Antal brugerer: @Model.Brugere.Count</h4>

<a asp-page="Create" class="btn btn primary" style="color: white; background-color: green;">Opret bruger</a>
<br />

<form asp-handler="Filter" method="get">
	<p>
		<div class="form-group">
			<label class="control-label">Søg efter brugernavn:</label>
			<input type="text" asp-for="@Model.FilterCriteriaBrugernavn" onchange="this.form.submit()" />
			<br />
			<label class="control-label">Filtrer Efter Køn</label>
			<select asp-for="@Model.FilterCriteriaKøn" asp-items="Html.GetEnumSelectList<Køn>()" class="form-control">
				<option value="All">All</option>
			</select>
			<label class="control-label">Filtrer Efter Medlemskabstype</label>
			<select asp-for="@Model.FilterCriteriaMedlemskab" asp-items="Html.GetEnumSelectList<MedlemskabsType>()" class="form-control">
				<option value="All">All</option>
			</select>
			<label class="control-label">Filtrer Efter Position</label>
			<select asp-for="@Model.FilterCriteriaPosition" asp-items="Html.GetEnumSelectList<Position>()" class="form-control">
				<option value="All">All</option>
			</select>
			<br/>
			<input type="submit" value="Filter" class=btn btn-primary" style="color: white; background-color: grey; border-color: grey;"/>
		</div>
	</p>
</form>

<form method="get">
	<p>
		<div class=form-group>
			<label class="custom-control-label">Sortér efter</label> 
			<input type="radio" asp-for="@Model.SortOrder" value="Brugernavn" onclick="this.form.submit()" />Brugernavn</input>
			<input type="radio" asp-for="@Model.SortOrder" value="BrugerId" onclick="this.form.submit()" />BrugerId</input>
		</div>
		<div class="form-group">
			<label class="custom-control-label">Rækkefølge</label>
			<select asp-for="SortOrderAscDesc" onchange="this.form.submit()">
				<option value="Ascending">Stigende</option>
				<option value="Descending">Faldende</option>
			</select>
		</div>
	</p>
</form>

<table style="width:85" class="table">
	<thead style="text-align: center; background-color: #7AC5F4; border-bottom: solid 2px; border-color: black;">
		<tr>
			@if (Model.CurrentBruger.Positionen == Position.Admin)
			{
				<th>BrugerId</th>
			}
			<th>Brugernavn</th>
			<th>Fødselsdato</th>
			<th>Køn</th>
			<th>Email</th>
			<th>Telefon</th>
			<th>Medlemskab</th>
			<th>Position</th>
			<th>Billed</th>
			<th>Verificeret</th>
			@if (Model.CurrentBruger.Positionen == Position.Admin)
			{
				<th>Handlinger</th>
			}
		</tr>
	</thead>
	<tbody style="text-align: center; margin: 3px;">
		@if (Model.Brugere.Count() != 0)
		{
			@foreach (Bruger items in Model.Brugere)
			{
				<tr style="border-bottom: solid 1px; border-color: gray;">
					@if (Model.CurrentBruger.Positionen == Position.Admin)
					{
						<td style="background-color: #E2EDF9;">@items.BrugerId</td>
					}
					<td style="background-color: #C7DDF4;">@items.Brugernavn</td>
					<td style="background-color: #E2EDF9;">@items.Fødselsdato</td>
					<td style="background-color: #C7DDF4;">@items.Kønnet</td>
					<td style="background-color: #E2EDF9;">@items.Email</td>
					<td style="background-color: #C7DDF4;">@items.Telefon</td>
					<td style="background-color: #E2EDF9;">@items.MedlemskabsTypen</td>
					<td style="background-color: #C7DDF4;">@items.Positionen</td>
					<td style="background-color: #E2EDF9;">
						@if (items.BilledUrl != null)
						{
							<img src="~/images/@items.BilledUrl" width="100px"
								height="100px" /> 
						}
					</td>
					<td style="background-color: #E2EDF9;">@(items.Verificeret ? "Verificeret" : "") </td>
					@if (Model.CurrentBruger.Positionen == Position.Admin)
					{
						<td style="background-color: #E2EDF9;">
							@if (!items.Verificeret)
							{
								<a asp-page="Verify" asp-route-brugerId="@items.BrugerId" class="btn btn primary" style="color: white; background-color: green; border-color: green;">
									Verificer
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
										<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
										<path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
									</svg>
								</a>
							}
							else
							{
								<a asp-page="Verify" asp-route-brugerId="@items.BrugerId" class="btn btn primary" style="color: white; background-color: #C94646; border-color: #C94646;">
									Afverificer
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-x" viewBox="0 0 16 16">
										<path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m.256 7a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
										<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m-.646-4.854.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 0 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 .708-.708" />
									</svg>
								</a>
							}
							<a asp-page="AdminUpdate" asp-route-brugerId="@items.BrugerId" class="btn btn primary" style="color: white; background-color: gray; border-color: gray;">
								Opdater
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
									<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
									<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
							</a>
							<a asp-page="Delete" asp-route-brugerId="@items.BrugerId" class="btn btn primary" style="color: white; background-color: #C94646; border-color: #C94646;">
								Slet
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
									<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
									<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
								</svg>
							</a>
						</td>
					}
				</tr>
			}
		}
	</tbody>
</table>