@page
@using GadevangGruppe3Razor.Models;
@model GadevangGruppe3Razor.Pages.BrugerFolder.ShowAllBrugerModel
@{
	ViewData["Title"] = "ShowAllBruger";
}

<h5>Antal brugerer: @Model.Brugere.Count</h5>
<br />

<a asp-page="Create" class="btn btn primary" style="color: white; background-color: green;">Opret bruger</a>
<br />
<br />

<form method="get">
	<p>
		Søg med brugernavn: <input type="text" asp-for="@Model.FilterCriteriaBrugernavn" onchange="this.formm.submit()" />
	</p>
</form>
<br />

<form asp-handler="Filter" method="get">
	<p>
		<div class="form-group">
			<label class="control-label">Medlemskabs Type</label>
			<select asp-for="@Model.FilterCriteriaMedlemskab" asp-items="Html.GetEnumSelectList<MedlemskabsType>()" class="form-control">
				<option value="All">All</option>
			</select>
			<label class="control-label">Position</label>
			<select asp-for="@Model.FilterCriteriaPosition" asp-items="Html.GetEnumSelectList<Position>()" class="form-control">
				<option value="All">All</option>
			</select>
			<input type="submit" value="Filter" />
		</div>
	</p>
</form>

<table style="width:85" class="table">
	<thead style="background-color:lightskyblue;border-radius:60px">
		<tr>
			<th>BrugerId</th>
			<th>Brugernavn</th>
			<th>Email</th>
			<th>Telefon</th>
			<th>Medlemskab</th>
			<th>Position</th>
			<th>Billed</th>
			<th>Verificeret</th>
			<th>Handlinger</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Brugere.Count() != 0)
		{
			@foreach (Bruger items in Model.Brugere)
			{
				<tr>
					<td>@items.BrugerId</td>
					<td>@items.Brugernavn</td>
					<td>@items.Email</td>
					<td>@items.Telefon</td>
					<td>@items.Medlemskab</td>
					<td>@items.Positionen</td>
					<td>
						@if (items.BilledUrl != null)
						{
							<img src="~/images/@items.BilledUrl" width="100px"
								height="100px" /> 
						}
					</td>
					<td>@(items.Verificeret ? "Verificeret" : "") </td>
					<td>
						<a asp-page="Update" asp-route-brugerId="@items.BrugerId" class="btn btn primary" style="color: white; background-color: gray; border-color: gray;">Update</a>
						<a asp-page="Delete" asp-route-brugerId="@items.BrugerId" class="btn btn primary" style="color: white; background-color: #C94646; border-color: #C94646;">Delete</a>
					</td>
				</tr>
			}
		}
	</tbody>
</table>