@page
@using GadevangGruppe3Razor.Models;
@model GadevangGruppe3Razor.Pages.BrugerFolder.ShowAllBrugerModel
@{
	ViewData["Title"] = "ShowAllBruger";
}

<h5>Antal brugerer: @Model.Brugere.Count</h5>
<br />

<a asp-page="Create" class="btn btn primary" style="color: white; background-color: green;">Opret bruger</a>
<br />
<br />

<form method="get">
	<p>
		Søg med brugernavn: <input type="text" asp-for="@Model.FilterCriteriaBrugernavn" onchange="this.formm.submit()" />
		<div class=form-group>
			<label class="custom-control-label">Sortering</label><br />
			<input type="radio" asp-for="@Model.SortOrder" value="Brugernavn" onclick="this.form.submit()" />Brugernavn</input>
			<input type="radio" asp-for="@Model.SortOrder" value="BrugerId" onclick="this.form.submit()" />BrugerId</input>
		</div>
		<div class="form-group">
			<label class="custom-control-label">Sort Order</label>
			<select asp-for="SortOrderAscDesc" onchange="this.form.submit()">
				<option value="Ascending">Ascending</option>
				<option value="Descending">Descending</option>
			</select>
		</div>
	</p>
</form>
<br />

<form asp-handler="Filter" method="get">
	<p>
		<div class="form-group">
			<label class="control-label">Medlemskabs Type</label>
			<select asp-for="@Model.FilterCriteriaMedlemskab" asp-items="Html.GetEnumSelectList<MedlemskabsType>()" class="form-control">
				<option value="All">All</option>
			</select>
			<label class="control-label">Position</label>
			<select asp-for="@Model.FilterCriteriaPosition" asp-items="Html.GetEnumSelectList<Position>()" class="form-control">
				<option value="All">All</option>
			</select>
			<br/>
			<input type="submit" value="Filter" class=btn btn-primary" style="color: white; background-color: grey; border-color: grey;"/>
		</div>
	</p>
</form>
<br/>

<table style="width:85" class="table">
	<thead style="text-align: center; background-color: #7AC5F4; border-bottom: solid 2px; border-color: black;">
		<tr>
			@if (Model.CurrentBruger.Positionen == Position.Admin)
			{
				<th>BrugerId</th>
			}
			<th>Brugernavn</th>
			<th>Email</th>
			<th>Telefon</th>
			<th>Medlemskab</th>
			<th>Position</th>
			<th>Billed</th>
			<th>Verificeret</th>
			<th>Handlinger</th>
		</tr>
	</thead>
	<tbody style="text-align: center; margin: 3px;">
		@if (Model.Brugere.Count() != 0)
		{
			@foreach (Bruger items in Model.Brugere)
			{
				<tr style="border-bottom: solid 1px; border-color: gray;">
					@if (Model.CurrentBruger.Positionen == Position.Admin)
					{
						<td style="background-color: #E2EDF9;">@items.BrugerId</td>
					}
					<td style="background-color: #C7DDF4;">@items.Brugernavn</td>
					<td style="background-color: #E2EDF9;">@items.Email</td>
					<td style="background-color: #C7DDF4;">@items.Telefon</td>
					<td style="background-color: #E2EDF9;">@items.Medlemskab</td>
					<td style="background-color: #C7DDF4;">@items.Positionen</td>
					<td style="background-color: #E2EDF9;">
						@if (items.BilledUrl != null)
						{
							<img src="~/images/@items.BilledUrl" width="100px"
								height="100px" /> 
						}
					</td>
					<td style="background-color: #C7DDF4;">@(items.Verificeret ? "Verificeret" : "") </td>
					<td style="background-color: #C7DDF4;">
						<a asp-page="Update" asp-route-brugerId="@items.BrugerId" class="btn btn primary" style="color: white; background-color: gray; border-color: gray;">Update</a>
						<a asp-page="Delete" asp-route-brugerId="@items.BrugerId" class="btn btn primary" style="color: white; background-color: #C94646; border-color: #C94646;">Delete</a>
					</td>
				</tr>
			}
		}
	</tbody>
</table>