@page
@using GadevangGruppe3Razor.Models
@model GadevangGruppe3Razor.Pages.BegivenhedFolder.ShowAllBegivenhedModel
@{
    ViewData["Title"] = "Se Alle Begivenheder";
}

<h4>Der er @Model.Begivenheder.Count kommende begivenheder</h4>
<span class="text-danger">@Model.UnverifiedWarning</span>
@if (@Model.CurrentBruger.Positionen == Position.Admin)
{
    <a asp-page="Create" class="btn btn primary" style="color: white; background-color: green; border-color: green;">Opret Begivenhed</a>    <a asp-page="/TilmeldBegivenhedFolder/ShowAllTilmeldBegivenhed" class="btn btn primary" style="color: white; background-color: gray; border-color: gray;">Se Alle Tilmeldinger</a>
    <br />
    <br />
}

<table>
    <thead style="text-align: center; background-color: #7AC5F4; border-bottom: solid 2px; border-color: black;">
        <tr>
            @if (@Model.CurrentBruger.Positionen == Position.Admin)
            {
                <th>EventId</th>
            }
            <th>Titel</th>
            <th>Sted</th>
            <th>Dato</th>
            <th>Beskrivelse</th>
            <th>MedlemMax</th>
            <th>Pris</th>
            <th>Handlinger</th>
            @if (@Model.CurrentBruger.Positionen == Position.Admin)
            {
                <th></th>
                <th></th>
            }
        </tr>
    </thead>
    <tbody style="text-align: center; margin: 3px;">
        @if (Model.Begivenheder.Count() != 0)
        {
            @foreach (Begivenhed item in Model.Begivenheder)
            {
                bool isTilmeldt = Model.Tilmeldinger.Any(tilmelding => tilmelding.EventId == item.EventId && tilmelding.BrugerId == Model.CurrentBruger.BrugerId);
                <tr style="border-bottom: solid 1px; border-color: gray;">
                    @if (@Model.CurrentBruger.Positionen == Position.Admin)
                    {
                        <td style="background-color: #E2EDF9;">@item.EventId</td>
                    }
                    <td style="background-color: #C7DDF4;">@item.Titel</td>
                    <td style="background-color: #E2EDF9;">@item.Sted</td>
                    <td style="background-color: #C7DDF4;">@item.Dato</td>
                    <td style="background-color: #E2EDF9;">@item.Beskrivelse</td>
                    <td style="background-color: #C7DDF4;">@item.MedlemMax</td>
                    <td style="background-color: #E2EDF9;">@item.Pris</td>
                    <td style="background-color: #E2EDF9;">
                        @if (isTilmeldt == true)
                        {
                            <a asp-page="/TilmeldBegivenhedFolder/Delete" asp-route-brugerId="@Model.CurrentBruger.BrugerId" asp-route-eventId="@item.EventId" class="btn btn primary" style="color: white; background-color: #C94646; border-color: #C94646;">
                                Frameld
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </a>
                        }
                        else if (@Model.CurrentBruger.Verificeret == true && isTilmeldt == false)
                        {
                            <a asp-page="/TilmeldBegivenhedFolder/Create" asp-route-eventId="@item.EventId" class="btn btn primary" style="color: white; background-color: green; border-color: green;">Tilmeld</a>
                        }
                        else
                        {
                            <input type="submit" value="Tilmeld" class="btn btn primary" style="color: white; background-color: grey; border-color: grey;" />
                        }
                    </td>
                    @if (@Model.CurrentBruger.Positionen == Position.Admin)
                    {
                        <td style="background-color: #E2EDF9;">
                            <a asp-page="Update" asp-route-eventId="@item.EventId" class="btn btn primary" style="color: white; background-color: gray; border-color: gray;"
                            >Opdater <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                </svg>
                            </a>
                        </td>
                        <td style="background-color: #E2EDF9;">
                            <a asp-page="Delete" asp-route-eventId="@item.EventId" class="btn btn primary" style="color: white; background-color: #CF3535; border-color: #CF3535;"
                            >Slet <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </a>
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>